

h1 {
    
}

 
 h4 {
    color: #33485e;
    text-align: center;
    font-style: bold;
    font-weight: 400;
    font-size: 300;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif; 
    
} 

