
/*style for my resume*/
head { font-family: Arial, Helvetica, sans-serif;
    color:rgb(61, 58, 58);
    font-weight: 400;
    white-space: 0;
}
title { text-transform: uppercase;
    font-size: 150;
    color: #33485e;}

/*standard font and size for sheet, unless specificed otherwise*/
body {
    background-color: rgba(249, 247, 237, 0.781);
    font-style:bold;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(61, 58, 58);
    font-size: 100;
}
/*Name at the top of my page*/

h1 {
    color: #33485e;
    text-align: center;
    font-style: bold;
    font-weight: 400;
    font-size: 300;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif; 
    
} 

/*Work expiernce, skills and education style */
h2 {  background-color: #33485e;
    color:white;
    text-transform: uppercase;
    font-size: 150;
    font-weight: 400;

}
/* Jobs I held */
h3 { font-weight: 600; 
    font-size: 1.5em;
}

/*companies I worked for*/
h4 { font-weight:400 ; 
    font-size: 1.5em;
}

/* dates of work*/
h5 { font-weight: 400;
    font-size: 100;
    font-style: italic;
}

/* font size for non-heading writing*/
p { font-size: 100; }

/*unordered list font size*/
ul { font-size: 100;}

/*A solid border on the bottom set to 1 pixel with a color of #33485e. 
Set the width at 60 percent and the minimum width at 300 pixels. 
Set the margin to "0 auto" to center*/

#name {
    width: 60% ;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #33485e;
    align-items: center;
    margin: 0 auto;
    border-width: 60%;
    min-width: 300px;
}

/* A margin of 10 pixels on the bottom, 20 to the top, and 0 on all other sides.
Set the width at 70 percent and the minimum width at 300 pixels. */

.sectionheader {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width: 70% ;
    min-width: 300px;
}

/*Change the Heading 4 tags in your html document and stylesheet to a div with a class of "organization". 
Change font size to 1.25em */

.organization {
    font-size: 1.25em;
}

.student {
    text-align: center;
}

/*Change the Heading 5 tags in your html document and stylesheet to a div with a class of "date".
 Leave the styling as is, but set the margin at the top to 2 pixels, while setting all other margins to 0 pixels.*/

 .date { 
margin-top: 2px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

/* Add a class of "description" to all of the paragraph elements on the page. 
Leave the styling as is, but set the margin at the top and bottom to 10 pixels, 
while setting all other margins to 0 pixels. */

.description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    width: 70% ;
    min-width: 300px
}

/* Add a class of "menu" to the unordered list containing your contact information. 
In your stylesheet, set the margin and padding for this list on all sides to 0px (you may use one value to do this for margin and padding), 
and align the text to the center.
Next, target the items in the "menu" list (and only this list). Set those items to display inline */

.menu li {
    display: inline-block;
    align-items: center;

}

.menu ul {
    margin: 0 auto;
    width: 60%;
}

/*Add an id of "degrees" to the unordered list in the education section. 
In your stylesheet, set the top margin to 5 pixels, while leaving all the other sides at 0. */
#degrees {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Add an id of "do" to the unordered list in the skills section. 
In your stylesheet, set the top margin to 5 pixels, while leaving all the other sides at 0. */

#do {
     margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
 }

/* Change the <strong> tag around your title to a div with an id of "title" in both your index and stylesheet. 
Give that a font weight of 600 and center the text. Give that element a top margin of 20 pixels and 0 on all other sides.*/
#title {
    font-weight: 600;
    align-items: center ;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

}

/*Add a class called "top" to the mission statement text at the top. Be sure it is at the bottom of your stylesheet. 
Give it a width of 60% with a minimum width of 300 pixels. 
Center by giving adding "margin:0 auto;" and give it a bottom margin of 30 pixels. */

#top {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}

/*Add a div around the entire document with the id "container". 
Add the container ID near the top of your stylesheet (under BODY). 
Give it a width of 100%, a maximum width of 1200 pixels and center the div by giving it a margin of "0 auto". 
Add 50 pixels of padding to the bottom.*/
#container {
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 50px;
}