head { font-family: Arial, Helvetica, sans-serif;
    color:rgb(61, 58, 58);
    
}
body {
    background-color: rgba(239, 237, 224, 0.781);
    font-style:bold;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(61, 58, 58);
}
h1 {
    color:#33485e;
    text-align: center;
    font-style: bold;
    font-weight: 400;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif } 
h2 {  background-color: #33485e;
    color:white;
}

h3 {
}

h4 {
}

h5 {
}

p { }