h1 {
    font-size: 800px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    font-weight: bold;
    color: #771430;
    margin: auto;

}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #771430;
    font-weight: bold;
    padding-top: 30px;
    margin: auto;
}

h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #771430;
    font-weight: bold;
    margin: auto;
}

.date {
    font: italic;
}


p {
font-size: 17px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
word-spacing: 9px;
width: 600px;
align-items: center;
margin: auto;

}

.masthead {
    margin: auto;
    width: 650px;
    align-items: center;

}

.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
}

.conatiner {
    margin: auto;
    align-items: center;
    width: 600px;
}


blockquote { 
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif,;
    font-style: italic; 
 
    color: #771430;
    padding-left: 15px; 
    padding-right: 15px;
    padding-top: 30px;
    border-left: 4px solid #ccc;
    width: 600px;
    margin: auto;
    } 

.mydoublebar {
    padding: 20px;
    margin: auto;
    width: 600px;
    margin: auto;
}


.mymap {
    padding: 20px;
    margin: auto;
    width: 600px;
}

.satscore {
    padding: 20px;
    margin: auto;
    width: 600px;
}

.racechart {
    padding: 20px;
    margin: auto;
    width: 600px;
}

#harvard {
    width: 400px;
    margin: 0 auto;
   display: block;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 3px;
   padding-right: 10px;
   margin-right: auto;
   caption-side: bottom;
   font-size: 10px;
   float: right;
}


#usc {
    width: 500px;
    align-items: center;
    margin: auto;
    padding-bottom: 30px;
}


#comapp {  width: 400px;
    margin: auto;
   display: block;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 100px;
   padding-right: 10px;
   margin-right: auto;
   caption-side: bottom;
   font-size: 10px;
   float: right;

}

.masthead2 {
    align-items: center;
    width: 600px;
    padding-bottom: 30px;
    margin: auto;
}


#satimg {
    width: 300px;
    align-items: center;
    margin: auto;
    padding-bottom: 30px;

}