#content {
    margin: 0 auto;
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

#title { 
}

#image { align-items: flex-start;
    font: 10px;
}

#byline {
    font-family: Arial, Helvetica, sans-serif,;
    font-size: 14px;
    font-style: italic;
    }

p {  font-family:Arial, Helvetica, sans-serif,;
    font-size: 13px;
    width: 900px;
}

h1 { font-family:Arial, Helvetica, sans-serif,;
    font-size: 40px;
    width: 900px;

}

blockquote { 
    font: 16px/24px;
    font-family: Arial, Helvetica, sans-serif,;
    font-style: italic; 
    margin-top: 15px; 
    margin-bottom: 15px; 
    color: red; 
    margin-left: 50px; 
    padding-left: 15px; 
    border-left: 4px solid #ccc;
    width: 900px;
    } 

#links {
    font-family:Arial, Helvetica, sans-serif,;
    font-size: 13px;
    width: 900px;
}

    


/*IMAGES*/

#masthead { 
    width: 1000px;
    margin: 0 auto;
   display: block;
}

#solo-shot{
    width: 400px;
    margin: 0 auto;
   display: block;
   align-items: flex-end;
   font-size: 10px;
   font-family: Arial, Helvetica, sans-serif;
}

#hope-gif {
    width: 500px;
    margin: 0 auto;
   display: block;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 0;
   margin-right: auto;
   caption-side: bottom;
   font-size: 10px;
   font-family: Arial, Helvetica, sans-serif,;
}


#globe-img { width: 400px;
    margin: 0 auto;
   display: block;
   margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: auto;
font-size: 10px;
   font-family: Arial, Helvetica, sans-serif,;
}

#red-room-img{ width: 300px;
    margin: 0 auto;
   display: block;
   margin-top: 0;
margin-bottom: 0;
margin-left: auto;
margin-right: 0;
font-size: 10px;
   font-family: Arial, Helvetica, sans-serif,;
}

/* Location of photos*/

.right { float: right; padding: 0 20px 20px 0;} 

.left { float: left; padding: 0 20px 20px 0;} 