/*FONT & Format*/


#centered {
    margin: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 800px;
}

.class {
    margin: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 800px;
}

p { font-size: 12px;
    width: 1000px;
    font-family: Helvetica, Arial,sans-serif;
}

h1 { font-family: Times, serif;
    font-size: 30px;
    width: 1000px;
}

h2{ font-family:Times, serif;
    font-size: 22px;
    width: 1000px;
}

h3 { font-family:Times, serif;
    font-size: 20px;
    width: 10000px;
}

body { font-size: 12px;
        width: 1000px;
        font-family: Helvetica, Arial,sans-serif;
    }

    #byline {
        font-family: Times, serif;
        font-size: 19px;
        }
    

/*IMAGES*/

#rapino2 { width: 400px;
    margin: 0 auto;
   display: block;
   margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: auto;
font-size: 10px;
padding-left: 3px;
}

#rapino4{
     width: 300px;
        margin: 0 auto;
       display: block;
       margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: auto;
    font-size: 10px;
    padding: 1px;
    padding-right: 12px;
    float: left;
}

#rapino1{
    width: 500px;
    margin: 0 auto;
   display: block;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 3px;
   padding-left: 3px;
   margin-right: auto;
   caption-side: bottom;
   font-size: 10px;
   float: right;
}


#rapino7 { width: 400px;
    margin: 0 auto;
   display: block;
   margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: auto;
font-size: 10px;
float: left;
}

#rapino8 { width: 300px;
    margin: 0 auto;
   display: block;
font-size: 10px;
}

#masthead {
    width: 1000px;
}

#graphic { width: 400px;
    margin: 0 auto;
   display: block;
   margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: auto;
font-size: 10px;
float: left;
padding-left: 4px;
}

.right { float: right; padding: 0 -60px 0 0;} 

.left { float: left; padding: 0 20px 20px 0;} 


/*BLOCKQUOTE*/

blockquote { 
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif,;
    font-style: italic; 
    margin-top: 15px; 
    margin-bottom: 15px; 
    color: rgb(62, 62, 141); 
    padding-left: 15px; 
    padding-right: 15px;
    border-left: 4px solid #ccc;
    width: 900px;
    } 

